/*=====
Reset
=====*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    body {
        scroll-behavior: smooth;
        font-family: var(--english-font-family);

        // heading
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            padding: 0;
            margin: 0;
        }

        // paragraph
        p {
            padding: 0;
            margin: 0;
        }

        // input
        input,
        input.form-control {
            font-size: $mainFontSize;
            
            &:focus {
                box-shadow: none;
                outline: none;
            }
        }

        // form select
        .form-select {
            &:focus {
                box-shadow: none;
                outline: none;
            }
        }

        // links
        a {
            text-decoration: none;
            transition: 0.3s;
        }

        // button
        button {
            transition: 0.3s;
        }

        // ul list
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        // section
        section {
            overflow: hidden;
        }

        // loading sppiner
        .v-pulse {
            background-color: var(--main-color) !important;
        }
    }
}