/*=====
background
=====*/
.secondary-bg {
    background-color: var(--secondary-color);
}
.black-bg {
    background-color: var(--black-color);
}
.white-bg {
    background-color: var(--white-color);
}
.info-bg {
    background-color: var(--info-color);
}
.success-bg {
    background-color: var(--success-color);
}
.warning-bg {
    background-color: var(--warning-color);
}
.danger-bg {
    background-color: var(--danger-color);
}
