/*=====
color
=====*/
.main-color {
    color: var(--main-color);
}
.secondary-color {
    color: var(--secondary-color);
}
.black-color {
    color: var(--black-color);
}
.white-color {
    color: var(--white-color);
}
.info-color {
    color: var(--info-color);
}
.success-color {
    color: var(--success-color);
}
.warning-color {
    color: var(--warning-color);
}
.danger-color {
    color: var(--danger-color);
}
